<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am a versatile programmer with experience in many modern application languages such as Java and C to the more obscure ones like Pawn. I have worked mainly on independent projects and web development ever since I got my hands on a computer. You can <a href="{{site.baseurl}}/assets/files/feb2017.pdf" target="_blank">download my resume here</a>.
    </p>
</div><!--//summary-->
</section><!--//section-->