<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student Technology Assistant</h3>
                            <div class="time">Sep 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">NYU Information Technology, New York</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>NYU is a global university, and with its large student population, there comes a demand for technology support. My main goal for this position is to support the ever changing student population's needs, whether that is running a 3D printer or simply fixing a printer jam. </p>  
                        <p>LaGuardia Co-op is the new pride and joy for any NYU Student Computer Lab, with "Connect and Collaborate" as its motto. Most of the time, I am stationed at this technology lab to assist incoming students with any needs they may have.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">America Counts Mathematics Tutor</h3>
                            <div class="time">Feb 2016 - Jun 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">NYU America Reads and Counts, New York</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Normally I assist primary classroom teacher with their lesson plan of the day. If there are confusions among the students, I work 1-on-1 or in small group environment to target students’ weaknesses to strengthen their understanding of a particular math topic. I also support students in their exploration of the academic topic, point out other possible routes to solve any particular problem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student Technician</h3>
                            <div class="time">Sep 2014 - Jun 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Newton Public Schools, Newton</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I assisted full time staff on solving technical issues that are submitted by school faculty via the online ticket queue. Per request, I work one-on-one with faculty to deepen their understanding with any particular piece of software they are interested in using for teaching purposes. Every morning, I update the digital screens throughout the school to provide the latest information regarding school events and activities.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Institute for Clinical Research and Health Policy Studies, Boston</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I worked with one other research intern to synthesize data of past studies in order to find out what the researches has taught us and what we are still missing in Complex Skin Infections. Worked closely with our lead investigative researcher to familiarize myself with STATA software to perform some statistical calculations on the data to find positive or negative correlations among huge set of studies.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Summer Intern</h3>
                            <div class="time">Jul 2012 - Aug 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Museum of Science, Boston</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>During my time as an intern at the museum, not only do I engage with museum guests to encourage creative thinking, I am also tasked with coming up with special exhibits of our own. One such exhibit was targeting our younger audience in introducing them to programming. Using LEGO Mindstorm, my fellow interns and I created a pre-built "goalie" that guests has to write logic for in order to defend the goal from an oncoming ball.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Museum Volunteer</h3>
                            <div class="time">Jul 2010 - Sep 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Museum of Science, Boston</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Everyday of working here is a different story, because I get to interact and provide informal education to guests that walks through our space. Our mission is to get visitors to learn at least one interesting new fact that they would otherwise not have known, thereby making their visit worthwhile. I participate in weekly staff workshop to expand our own knowledge in order to better assist our museum guests. Most work done here are self-directed, there will never be anyone telling me what I have to do. The most exciting part here is that I get to handle real animal and human tissue during my discussions!</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->