<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects &amp; Achievements</h2>
                <div class="intro">
                    <p>Here are the few things that I care very much about, and that I am very grateful for or proud of:</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title">NYU CAS Scholarship</span> - <span class="project-tagline">Thanks to the generous alumni donors, I was able to attend NYU, one of my reach schools.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://nshsguide.newton.k12.ma.us/" target="_blank">NSHS Guide Website</a></span> - 
                    <span class="project-tagline">A web interface for Newton South High School absent teacher list of the day, accompanies mobile applications</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://itunes.apple.com/us/app/nshs-guide/id998228606" target="_blank">NSHS Guided iOS</a></span> - <span class="project-tagline">Mobile app designed for iPhone to retrieve data from website complement and allows students to receive personalized notification if their teacher is absent</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://play.google.com/store/apps/details?id=com.nshsappdesignteam.nshsguide" target="_blank">NSHS Guide Android</a></span> - <span class="project-tagline">Mobile app designed for Android devices to retrieve data from website complement and allows students to receive personalized notification if their teacher is absent</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Hacking Excellence</a></span> - <span class="project-tagline">First online capture the flag competition I have attended, achieved level 3 hacking proficiency</span>
                </div><!--//item-->
            </section><!--//section-->