<div class="interests-container container-block">
<h2 class="container-block-title">Relevant Coursework</h2>
<ul class="list-unstyled interests-list">
<li>Computational Thought (FRSEM-UA 385)</li>
<li>Intro to Computer Science (CSCI-UA 101)</li>
<li>Data Structures (CSCI-UA 102)</li>
<li>Computer Systems Organization (CSCI-UA 201)</li>
<li>Operating Systems (CSCI-UA 202)</li>
<li>Calculus I (MATH-UA 121)</li>
<li>Calculus II (MATH-UA 122)</li>
<li>Calculus III (MATH-UA 123)</li>
<li>Theory of Probability (MATH-UA 233)</li>
</ul>
</div><!--//interests-->